<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">导航栏</li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-cogs"></i> <span>系统管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "TruckCamRecord")"><i class="fa fa-car"></i> 外集卡记录</a></li>
                    <li><a href="@Url.Action("Index", "CameraSource")"><i class="fa fa-database"></i> 数据源管理</a></li>
                    <li><a href="@Url.Action("Index", "Schedule")"><i class="fa fa-tasks"></i> 计划任务</a></li>
                    <li><a href="@Url.Action("Index", "Logger")"><i class="fa fa-book"></i> 同步日志</a></li>
                    <li><a href="@Url.Action("ConfigManagement", "Home")"><i class="fa fa-sliders"></i> 配置管理</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-question-circle"></i> <span>系统帮助</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
