@model Shsict.Peccancy.Mvc.Models.ConsoleModels.LogListDto

@section Styles {
    @Styles.Render("~/Content/css/datatables")
}

@section Scripts {
    <!-- DataTables -->
    @Scripts.Render("~/bundles/datatables")

    <script type="text/javascript">
        $(function () {
            $("#tbl-datatable").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": false,
                "info": false,
                "autoWidth": false,
                "language": {
                    "url": "/Scripts/datatables/zh-CN.json"
                }
            });
        });
    </script>
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <b><i class="fa fa-book"></i> 同步日志</b>
            <small>显示7天内的自动/手动操作记录与异常日志</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> 管理控制台</a></li>
            <li class="active">同步日志</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <table id="tbl-datatable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>日志分类</th>
                                    <th>日志级别</th>
                                    <th>记录时间</th>
                                    <th>日志信息</th>
                                    <th>是否异常</th>
                                </tr>
                            </thead>
                            @if (Model.Logs != null && Model.Logs.Count > 0)
                            {
                                <tbody>
                                    @foreach (var m in Model.Logs)
                                    {
                                        <tr>
                                            <td>@m.Logger</td>
                                            <td>@m.Level.ToString()</td>
                                            <td>@m.CreateTime.ToString("yyyyMMdd HH:mm:ss")</td>
                                            <td>@m.Message </td>
                                            <td>
                                                @if (m.IsException)
                                                {@Html.Raw("<b>[异常]</b>")}
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            }

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
