@model Shsict.Peccacy.Mvc.Models.ConsoleModels.TruckCamRecordListDto

@section Styles {
    @Styles.Render("~/Content/css/jquery.datatables")
}

@section Scripts {
    <!-- DataTables -->
    @Scripts.Render("~/bundles/jquery.datatables")

    <script type="text/javascript">
        $(function () {
            $("#tbl-datatable").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": false,
                "autoWidth": false,
                "language": {
                    "url": "/Scripts/datatables/zh-CN.json"
                }
            });
        });
    </script>
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <b><i class="fa fa-car"></i> 外集卡记录</b>
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> 管理控制台</a></li>
            <li class="active">外集卡记录</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <table id="tbl-datatable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>拍照号</th>
                                    <th>车速</th>
                                    <th>探头编号</th>
                                    <th>抓拍时间</th>
                                    <th>抓拍图片</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            @if (Model.TruckCamRecords != null && Model.TruckCamRecords.Count > 0)
                            {
                                <tbody>
                                    @foreach (var m in Model.TruckCamRecords)
                                    {
                                        <tr>
                                            <td>@m.ID</td>
                                            <td>@m.License</td>
                                            <td></td>
                                            <td>@m.Speed </td>
                                            <td>@m.CamNo </td>
                                            <td>@m.PicTime.ToShortDateString()</td>
                                            <td>@m.PicName</td>
                                            <td>
                                                <button type="button" class="btn btn-info btn-xs" disabled="disabled">
                                                    <i class="fa fa-edit"></i> detail
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            }
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
